.aboutMeContainer
    height: fit-content
    background: #fbfba5
    overflow: hidden

.aboutMeCardContainer
    height: fit-content

.aboutMeCardTitle
    font-size: 4vw
    width: fit-content
    margin: 3% auto 0% auto
    padding: 0.2% 1% 0.2% 1%
    cursor: default
    border: 7px solid black
    box-shadow: 10px 10px black
    color: #ffffff
    background: red
    -webkit-text-stroke: 3.5px black
    text-shadow: 7px 7px black

.profileContainer
    display: flex
    justify-content: center
    gap: 10%
    height: fit-content
    margin: 2% 0% 3% 0%
    
.journeyContainer
    display: flex
    flex-direction: column
    align-items: center
    width: 60%
    height: fit-content
    border: 10px solid black
    border-radius: 5px
    box-shadow: 15px 15px #000000
    background: #ffffff

.titleContainer
    display: flex
    flex-direction: row
    width: 100%
    border-bottom: 5px double black
    align-items: center

.circle
    border: 5px solid black
    border-radius: 100%
    background: #00000091
    color: #fbfba5
    margin: 1% 1% 1% 2%
    box-shadow: inset 0 0 10px #01000084
    
.journeyTitle
    font-size: 6vh
    text-shadow: 5px 5px #00000055
    width: 100%
    text-align: center
    border-radius: 5px
    width: fit-content
    margin: 0% auto
    
.journeyBody
    font-size: 250%
    word-spacing: 5px
    font-family: MangoGrotesque
    text-shadow: 1px 1px #01000042
    margin: 0% 3% 0% 10%
    padding: 4% 2% 4% 2%
    border-left: 5px double black
.profilePicture
    margin-top: 10%
    

@keyframes scrolling 
    to
        transform: translateX(-1000%)
@keyframes barrelRoll
    to
        transform: rotateX(360deg)
        

@media screen and ( max-width: 1200px)
    .profileContainer
        margin: 1%
    .aboutMeCardTitle
        display: none
    .journeyContainer
        width: fit-content 
        box-shadow: none
        height: fit-content
        border: 5px solid black
    .journeyBody
        font-size: 5vh
        height: fit-content
        