@font-face
    font-family: MangoGrotesque
    src: url(MangoGrotesque-SemiBold.ttf)
@font-face 
    font-family: Hitchcut
    src: url(Hitchcut-Regular.ttf)
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Hitchcut
    
#root
    border: 15px solid black
    height: fit-content
    overflow-x: hidden
    
    
.landingPageContainer
    height: 97vh
    
.hideOverflowY
    overflow-y: hidden
.hideOverflowX
    overflow-x: hidden