header {
  position: relative;
  background: #AA96DA;
  height: 15%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}
header > a {
  z-index: 200;
  color: #fbfba5;
  text-decoration: none;
}

.youtubeIcon {
  color: #fbfba5;
  filter: drop-shadow(8px 5px #ff0000);
  transition: 0.7s ease;
  align-self: center;
  transform: scale(1.2);
}

.home:hover .youtubeIcon {
  color: #ff0000;
  filter: drop-shadow(-8px -5px #fbfba5);
  transform: scale(1.4);
}

nav > .navbarLink {
  text-decoration: none;
  font-size: 300%;
  letter-spacing: 3px;
  text-shadow: 8px 5px #ff0000;
  color: #fbfba5;
  transition: 0.7s ease;
  -webkit-text-stroke: 2px black;
  cursor: pointer;
}

nav > .navbarLink:hover {
  color: #ff0000;
  text-shadow: -8px -5px #fbfba5;
  font-size: 400%;
  letter-spacing: 7px;
}

.homeContainer {
  display: flex;
  flex-direction: "row";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 5%;
  white-space: "nowrap";
  align-items: center;
  justify-content: center;
}

.home {
  text-shadow: 8px 5px #ff0000;
  font-size: 300%;
  letter-spacing: 3px;
  transition: 0.7s ease;
  -webkit-text-stroke: 2px black;
  border: 5px solid black;
  box-shadow: 5px 5px black;
  padding: 0% 1% 0% 1%;
  margin-left: 1%;
}

.home:hover {
  text-shadow: -8px -5px #fbfba5;
  color: #ff0000;
  letter-spacing: 7px;
  font-size: 350%;
  transition: 0.7s ease;
}

.NavbarDesktop {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.NavbarDesktop .navbarLink {
  padding: 0% 1% 0% 1%;
  margin-right: 1%;
  border: 5px solid black;
  box-shadow: 5px 5px black;
}

.closeNavbar {
  display: none;
}

.openNavbar {
  display: none;
}

@media (max-width: 1300px) and (min-width: 1100px) {
  .NavbarDesktop {
    display: none;
  }
  .burguer {
    z-index: 200;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    margin-right: 5%;
  }
  .bar {
    width: 70px;
    height: 17px;
    background: #fbfba5;
    border-radius: 20px;
    box-shadow: 7px 7px #ff0000;
    transition: 0.7s ease;
    border: 3px solid black;
  }
  .burguer:hover .bar {
    background: #ff0000;
    box-shadow: -7px -7px #fbfba5;
    width: 80px;
    height: 20px;
  }
  .closeNavbar {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(170, 150, 218);
    gap: 13%;
    transition: 0.7s;
    transform: translateY(-100vh);
  }
  .openNavbar {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13%;
    transition: 0.7s;
    transform: translateY(0vh);
    background: rgb(170, 150, 218);
    margin-top: 3%;
    border-left: 15px solid black;
    border-right: 15px solid black;
    z-index: 5;
  }
  .openNavbar > .navbarLink {
    font-size: 500%;
  }
  .openNavbar > .navbarLink:hover {
    font-size: 600%;
    letter-spacing: 50px;
  }
}
@media (max-width: 1500px) {
  .NavbarDesktop {
    display: none;
  }
  .youtubeIcon {
    transform: scale(1);
  }
  .home:hover .youtubeIcon {
    transform: scale(1.2);
  }
  .home {
    font-size: 250%;
    padding: 0% 2% 0% 2%;
  }
  .home:hover {
    font-size: 280%;
  }
  .burguer {
    z-index: 200;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    cursor: pointer;
    margin-right: 5%;
  }
  .bar {
    width: 70px;
    height: 17px;
    background: #fbfba5;
    border-radius: 20px;
    box-shadow: 7px 7px #ff0000;
    transition: 0.7s ease;
    border: 3px solid black;
  }
  .burguer:hover .bar {
    background: #ff0000;
    box-shadow: -7px -7px #fbfba5;
    width: 80px;
    height: 20px;
  }
  .closeNavbar {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(170, 150, 218);
    gap: 13%;
    transition: 0.7s;
    transform: translateY(-100vh);
  }
  .openNavbar {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13%;
    transition: 0.7s;
    transform: translateY(0vh);
    background: rgb(170, 150, 218);
    margin-top: 3%;
    border-left: 15px solid black;
    border-right: 15px solid black;
    z-index: 5;
  }
  .openNavbar > .navbarLink {
    font-size: 300%;
  }
  .openNavbar > .navbarLink:hover {
    font-size: 330%;
    letter-spacing: 15px;
  }
}/*# sourceMappingURL=Navbar.css.map */