.myProjectsContainer
    height: fit-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #fbfba5

.myProjectsTitle
    font-size: 300%
    width: fit-content
    margin: 5% auto 2% auto
    padding: 0.2% 1% 0.2% 1%
    cursor: default
    border: 7px solid black
    box-shadow: 10px 10px black
    color: #ffffff
    background: lime
    -webkit-text-stroke: 3.5px black
    text-shadow: 7px 7px black


.swiperContainer
    display: flex
    height: 80%
    width: 80%
    margin-bottom: 7%
    position: relative

.swiperPicture
    display: flex
    align-items: center
    justify-content: center
   
    >a
        >img 
            border: 15px solid black
            border-radius: 5px
            box-shadow: 10px 10px black
            height: 100%
            width: 100%
            user-select: none
            
    >iframe
        border: 15px solid black
        border-radius: 5px
        box-shadow: 10px 10px black
        user-select: none
.button-prev-slide
    position: absolute
    z-index: 99
    align-self: center
    left: -7%

.button-next-slide
    position: absolute
    align-self: center
    z-index: 99
    right: -7%
.carouselNavigationIcon
    color: black
    background: lime
    border: 3px solid black
    border-radius: 8px
    font-size: 5vw
    box-shadow: 7px 5px black
    transition: 0.2s
.carouselNavigationIcon:hover
    background: #5efd60
    font-size: 5.2vw
.carouselNavigationIcon:active
    font-size: 4.5vw



@media screen and ( max-width: 800px )
    .myProjectsTitle
        font-size: 6vw
        -webkit-text-stroke: 2px black
        border: 3px solid black
        text-shadow: 3px 3px black
        box-shadow: 4px 4px black
    .swiperContainer
        height: 90%
        width: 100%
        margin: 3% 0% 30% 0%
    .swiperPicture
        >a
            >img
                border: 5px solid black
                box-shadow: 0px 0px
        >iframe
            box-shadow: 0px 0px
            border: 5px solid black
    .button-prev-slide
        left: 0%
    .button-next-slide
        right: 0%
    .carouselNavigationIcon
        box-shadow: 3px 3px black
        border: 2px solid black
        opacity: 0.3
    .carouselNavigationIcon:hover
        opacity: 1