.myProjectsContainer
    height: fit-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background: #fbfba5

.projectsTitle
    cursor: default !important
    position: absolute
    margin-bottom: 2%
    left: 50%
    transform: translateX(-50%)
    z-index: 99
    text-shadow: 0.3vw 0.3vw black !important
    -webkit-text-stroke: 0.1vw black !important

.swiperContainer
    display: flex
    height: 80%
    width: 80%
    margin: 3% 0% 7% 0%
    position: relative

.swiperPicture
    position: relative
    display: flex
    align-items: center
    justify-content: center
    >img 
        border: 15px solid black
        border-radius: 5px
        box-shadow: 10px 10px black
        height: 90%
        width: 100%
        user-select: none  
    >iframe
        border: 15px solid black
        border-radius: 5px
        box-shadow: 10px 10px black
        user-select: none

.swiperButtonsContainer
    display: flex
    gap: 10%
    position: absolute
    justify-content: space-evenly
    bottom: 5%
    text-decoration: none

.swiperButtons
    transition: 0.2s
    opacity: 0.3

.swiperButtons:hover
    opacity: 1

.button-prev-slide
    position: absolute
    z-index: 99
    align-self: center
    left: -7%

.button-next-slide
    position: absolute
    align-self: center
    z-index: 99
    right: -7%
.carouselNavigationIcon
    color: black
    background: lime
    border: 3px solid black
    border-radius: 8px
    font-size: 5vw
    box-shadow: 7px 5px black
    transition: 0.2s
    cursor: pointer
.carouselNavigationIcon:hover
    background: #5efd60
    font-size: 5.2vw
.carouselNavigationIcon:active
    font-size: 4.5vw


@media screen and ( max-width: 800px )
    .swiperContainer
        height: 90%
        width: 100%
        margin: 3% 0% 30% 0%
    .swiperPicture
        >img
            border: 5px solid black
            box-shadow: 0px 0px
        >iframe
            box-shadow: 0px 0px
            border: 5px solid black
    .button-prev-slide
        left: 0%
    .button-next-slide
        right: 0%
    .carouselNavigationIcon
        box-shadow: 3px 3px black
        border: 2px solid black
        opacity: 0.3
    .carouselNavigationIcon:hover
        opacity: 1